<div class="row">
    <div class="large-8 columns">
        <div class="row">
            <div class="large-2 columns">
                <label for="lesson_number" class="left inline">Lesson Number:</label>
            </div>
            <div class="large-2 columns">
                {{input type='text' value=model.lessonNumber id='lesson_number'}}
            </div>
            <div class="large-2 columns">
                <label for="lesson_title" class="right inline">Lesson Title:</label>
            </div>
            <div class="large-6 columns">
                {{input type='text' value=model.lessonTitle id='lesson_title'}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-8 columns">
        <div class="row">
            <h2>Lesson Text</h2>
            {{ivy-codemirror value=model.lessonBody mode="markdown" }}
        </div>
        <div class="row">
            <h2>Lesson Code Sample</h2>
            {{ivy-codemirror value=model.lessonCode mode="ruby" }}
        </div>
    </div>
</div>
<div class="row">
    <button id="save_lesson" {{action 'saveLesson'}}>Save</button>
</div>
